{% extends "app/base.html"%}{% load bootstrap3  staticfiles %}

{% block main %}
<h1>单张图片训练</h1>
<div class="row">
    <form action="{% url 'app:create' %}" method='post' enctype="multipart/form-data"  >
              {% csrf_token %}
              {% bootstrap_form form  %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
               {% endbuttons %}
            </form>
</div>
<hr/>
<!--
<h1>批量图片训练</h1>
<div class="row">
            <form action="." method='post' enctype="multipart/form-data"  >
              {% csrf_token %}
              {% bootstrap_form form  %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
               {% endbuttons %}
            </form>
</div>
-->

{% endblock %}
